NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# These environment variables are used for Supabase Local Dev
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0"
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_SERVICE_ROLE_KEY=

# Get these from Stripe dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51OsrmeJbZOzG3blI0fKpbWIXDCTqOzgBqivXginKGRS8aRtWL0nITyxi7O4ej3Bm7oHaDWqHBYWu2L5Y8a5NpiI200WI1mFNe4
STRIPE_SECRET_KEY=sk_test_51OsrmeJbZOzG3blIgmPJAcu1sx8papmOWQJ14JlAA3KIyG1f4QdsS805P5MJgllDcU4x8dpVYh6kF8rhHinV20x300io5uvs6s
STRIPE_WEBHOOK_SECRET=
FAL_KEY=331c1d06-b507-4ed8-b8ed-e33605393a9d:a7b10d41ab7726b68d869fd5bcd5f4d7